<div class='container-fluid home-body'>
  <div class='container py-5 px-2 mx-auto'>

    <div class='container-fluid header p-2'>
      <div class='contaoner col-md-12 mx-auto my-3 center'>
          <%= image_tag("Ecolabora.png", class: "mx-auto small-logo d-block") %>
      </div>
      <div class='container col-md-10 mx-auto my-3'>
        <h1>Editing News</h1>

        <%= render 'form', news: @news %>

        <%= link_to 'Show', @news %> |
        <%= link_to 'Back', news_index_path %>
      </div>
    </div>
  </div>
</div> 
