<div class='container-fluid header'>
  <div class='contaoner col-md-12 mx-auto my-3 center'>
    <%= image_tag("Ecolabora.png", class: "mx-auto small-logo d-block") %>
  </div>

  <div class='container col-md-10 mx-auto my-3'>
    <h2 class='titulos'>Edita tu producto</h2>

    <%= render 'form', product: @product %>

    
    <div>
    <div class='container col-md-10 mx-auto my-3'>
      <%= link_to 'Show', @product %> |
      <%= link_to 'Back', products_path %>
    </div>
    </div>
  </div>
</div> 
